
<div class="J6UZg" style="width: 469px; top: 0px;">
    <div class="Jy9Ore" role="heading">
        日期指定
    </div>
    <label class="Qtsmnf tmDYm" for="OouJcb">
        开始日:
    </label>
    <label class="Qtsmnf iWBKNe" for="rzG2be">
        终止日:
    </label>
    <div class="Gwgzqd" aria-label="閉じる" role="button" tabindex="0" jsaction="xp3IKd">

    </div>
    <div class="NwEGxd" style="left: 46px;">
        <div class="qomYCd">

        </div>
        <form action="/search" class="T3kYXe" id="T3kYXe" method="get">
            <input value="" name="tbm" type="hidden">
            <input class="OouJcb" type="text" value="" autocomplete="off" id="OouJcb">
            <input class="rzG2be" type="text" value="" autocomplete="off" id="rzG2be" placeholder="google">
            <g-button class="Ru1Ao BwGU8e fE5Rge" jsaction="hNEEAb" role="button" tabindex="0">
                确定
            </g-button>
        </form>
    </div>
</div>
</div>