{% extends 'base.html' %}


{% block title %}
子模板网页名
{% endblock %}


{% block mycss %}
<style>
    #middle{
        background-color: rgb(177, 210, 30);
    }
    .div1 {
        width: 33%;
        height: 50px;
        float: left;
    }
</style>
{% endblock %}

# 填充脚本的block
{% block myjs %}
<script>
        btn=document.getElementById('btn')
        btn.onclick=(function () {
            alert('欢迎学习Flask框架')
        })
</script>
{% endblock %}


{% block middle %}
    <div class="div1" id="d1">hello</div>
    <div class="div1">hello</div>
    <div class="div1">hello</div>
{% endblock %}